.calculator {
    padding: 0px;
    width: 414px;
    margin: auto;
    border: 1px solid black;
    background-color: rgb(30, 150, 219);
}

.text-box {
    width: 410px;
    height: 50px;
    padding: 0px;
    margin: 0px auto 0px auto;
    border: 1px solid black;
    text-align: right;
    font-size: 16pt;
    box-sizing: border-box;
    background-color: limegreen;
    color: yellow;
}

.btn {
    width: 100px;
    height: 50px;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}

#btn-1,
#btn-2,
#btn-3,
#btn-plus,
#btn-7,
#btn-8,
#btn-9,
#btn-multi {
    background-color: yellow;
}

#btn-4,
#btn-5,
#btn-6,
#btn-minus,
#btn-clear,
#btn-0,
#btn-equal,
#btn-divide {
    background-color: cyan;
}

input:active {
    border: none;
}

td {
    margin: 0px;
    padding: 0px;
    width: 100px;
    box-sizing: border-box;
}

tr {
    width: 400px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.theme-select {
    margin: 10px auto 10px auto;
    width: 414px;
    text-align: center;
}

.theme-select-dropdown {
    padding: 0px;
}