.calculator {
    padding: 0px;
    width: 400px;
    height: 800px;
    margin: auto;
}

.text-box {
    width: 408px;
    height: 50px;
    padding: 0px;
    margin: 0px auto 0px auto;
    text-align: right;
    font-size: 16pt;
}

.btn {
    width: 100px;
    height: 50px;
    padding: 2px 2px 2px 2px;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}

input:active {
    background-color: gray;
}

td {
    margin: 0px;
    padding: 0px;
}

tr {
    width: 400px;
    margin: 0px;
    padding: 0px;
}