body {
    background-image: url("images/background.png");
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0px;
}

.banner {
    width: 100%;
}

.heading {
    font-family: Tahoma, Verdana;
    font-size: 24pt;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

.container {
    width: 800px;
    margin: 0px auto 0px auto;
    border-width: 4px;
    border-style: solid;
    border-color: gray;
    border-radius: 20px;
    overflow: hidden;
}

.contents {
    overflow: hidden;
}

.general-overview {
    width: 250px;
    background-color: #A2B964;
    margin: 0px;
    float: right;
}

.film-information {
    margin: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

.film-information dt {
    font-weight: bold;
    margin-top: 10pt;
}

.film-information ul{
    list-style: none;
    padding: 0;
}

.rating-review {
    width: 550px;
}

.rating {
    height: 83px;
    background-image: url(images/rbg.png);
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

.rating img {
    vertical-align: bottom;
}

.review {
    column-count: 2;
    column-width: 47%;
    margin: 10pt;
}

.review-text {
    font-size: 8pt;
    font-weight: bold;
    background-color: #e8dc9b;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    margin: 0px;
    min-width: 100%;
    height: auto;
    display: inline-block;
}

.review-text img {
    float: left;
    margin: 5px;
}
.reviewer-information {
    font-style: italic;
    margin-bottom: 20pt;
    min-width: 100%;
    display: inline-block;
}

.reviewer-information img {
    float: left;
    margin: 5px;
}

.reviewer-information::first-line {
    font-style: normal;
}

.footer {
    background-color: #a2b964;
    padding: 5px;
    text-align: center;
}